.example-spacer {
    flex: 1 1 auto;
  }

  .animation{
    padding-left: 30px;
  }

.form-control-sm{
  padding: 3px;
 height: 37px;
 margin-top: 200px;
 margin-bottom: 10px;
 margin-left: 500px;
 margin-right: 5px;
}

.rodapeimg{

 margin-left: 1150px;
}

.scrollspy-example{
  margin-left: 20px;
  margin-right: 20px;
}
