<h2  mat-dialog-title>Compartilhe meu projeto utilizando o link abaixo:</h2>
<div class="dialogtitulo">
 <a href="https://api.whatsapp.com/send?text=Olá gostaria de compartilhar com você uma pagina web em que me interessei, acesse o github e confira. https://github.com/Robson-Augusto"><img src="https://1.bp.blogspot.com/-m8oifiCYyqc/WvI0FdiW4gI/AAAAAAAAH1Q/DY6EpI3la1Mi4I_WgXVyURIbooY-7UfPACLcBGAs/s1600/whatsapp-icon-png-iconfinder.png" width="45" class="sharezap"></a>

 <a href="https://api.whatsapp.com/send?text=Olá gostaria de compartilhar com você uma pagina web em que me interessei, acesse o github e confira. https://github.com/Robson-Augusto"><img src="https://www.pngkey.com/png/full/275-2751864_link-chain-url-uri-anchor-svg-png-icon.png" width="40" class="sharezap"></a>
</div>
<div mat-dialog-content>

</div>
<div mat-dialog-actions>
  <button type="button" (click)="cancel()" class="btn btn-outline-primary">Fechar</button>
</div>

